<div class="container-12">
  <carousel isAnimated="true" showIndicators="false">
    <slide>
      <img src="assets/images/home-module/carousel_3_1280.jpg" alt="first slide">
      <div class="carousel-caption">
        <p class="caption-title">Quick</p>
        <p class="caption-text">Get Your many fast. Right when You need them!</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/home-module/carousel_2_1280.jpg" alt="second slide">
      <div class="carousel-caption">
        <p class="caption-title">Much</p>
        <p class="caption-text">Don't worry about the limits!</p>
      </div>
    </slide>
    <slide>
      <img src="assets/images/home-module/carousel_1_1280.jpg" alt="third slide">
      <div class="carousel-caption">
        <p class="caption-title">Safe</p>
        <p class="caption-text">Application is intuitive without hidden clausules etc...</p>
      </div>
    </slide>
  </carousel>
</div>