<header class="d-flex flex-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">

  <p class="h3 my-3 px-3">Best Loan Facility</p>

  <div class="d-menu" #menu>
    <nav class="d-flex flex-column flex-md-row my-2 my-md-0">
      <a 
        routerLink="/" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="mx-3 my-3 my-md-0 p-2 text-dark text-center" 
        >Home
      </a>
      <a 
        routerLink="/loan" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: false}"
        class="mx-3 my-3 my-md-0 p-2 text-dark text-center" 
        >Get Loan
      </a>
      <a 
        routerLink="/about" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="mx-3 my-3 my-md-0 p-2 text-dark text-center" 
        >About Us
      </a>
    </nav>
    <div class="d-flex flex-md-column flex-lg-row">
      <a 
        class="mx-2 mb-1 mb-lg-0 py-2 px-3 btn btn-outline-primary disabled" 
        >Sign in
        <!-- routerLink="/sign-in" -->
        <!-- routerLinkActive="active" -->
      </a>
      <a 
        class="mx-2 mb-1 mb-lg-0 py-2 px-3 btn btn-outline-secondary disabled" 
        >Sign up
        <!-- routerLink="/sign-up" -->
        <!-- routerLinkActive="active" -->
      </a>
    </div>
  </div>

  <button class="d-block d-md-none btn btn-outline-primary" (click)="toogleMenu()">
      <i class="fa fa-bars"></i>
  </button>

</header>